<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mall.dao.CusInfoDao">

	<select id="queryByPhone" resultType="CusInfo">
		SELECT *
		FROM cus_info
		WHERE 
		cus_phone= #{cusPhone} limit 1
	</select>

    <select id="queryByMail" resultType="CusInfo">
        SELECT *
        FROM cus_info
        where
        cus_mail=#{cusMail} limit 1
    </select>

</mapper>